.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.main-logo {
    height: 70px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.main-logo:hover {
    transform: scale(1.05);
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    text-decoration: none;
}

.register-btn {
    font-weight: bold;
}

.logout-btn {
    background-color: #ff4d4d;
    border-radius: 5px;
    padding: 8px 12px;
    border: none;
    color: white;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff1a1a;
}

.username {
    color: white;
    margin-right: 10px;
    font-size: 16px;
}

.nav-user-select {
    margin-left: 20px;
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
}

.nav-user-select:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}