.stats-container {
  padding-top: 4rem;
  width: 100%;
}

.stat-section {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.stats-summary {
  margin-bottom: 2rem;
}

.summary-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.summary-card {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  flex: 1;
  min-width: 200px;
}

.project-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* .project-box {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #f3f3f3;
} */

.project-card {
  background-color: white;
  padding: 1.5rem;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-details > div {
  margin-bottom: 1rem;
}
